extends layout

block content

    article(id='top' class='wrapper style2')
        div.container
            header
                h2
                    img(src='/images/musicalbox.png' width='64' lenght='64' alt='')
                    span Liste des utilisateurs
                    ul.container
                    if (users)
                        table.default
                            tr
                                th Login
                                th Password 
                                th Role

                        
                            each obj in users
                                tr
                                    td= obj.login
                                    td= obj.passe
                                    td= obj.role
                        //- else 
                        //-     h4(style='color: red;') Admin not connected :/
                    else
                        h4(style='color: red;') Pas d'utilisateurs pour le moment...
