extends layout

block content

    article(id='top' class='wrapper style1')
        div.container
            h1(class='center') Cette adresse mail est deja presente dans notre base de donnée, veuillez en utiliser une autre
 