extends layout

block content

    article(id='top' class='wrapper style2')
        div.container#music
            header
                h2#Section-music
                    img(src='/images/music.png' width='60' lenght='60' alt='imgmusicicon')
                    span Jouer un morceau
                div.container
                    h4#Player-music
                        figcaption= "Listening to : " +titreMusique
                        audio(controls)
                            source(src="http://localhost:3000/raw/"+titreMusique+".mp3")
                            
                    
                    
                        
                    
                        

                
            